/* General form container styling */
.form-container {
  width: 30%;
  padding: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.form-container .MuiTextField-root {
  width: 100%;
  margin-bottom: 16px;
}

.form-container .MuiButton-root {
  width: 100%;
  margin-bottom: 16px;
}
